{% extends "layout.njk" %}
{% import "parts/section-products.njk" as section %}

{% block content %}
    <section class="search-products container">
        <aside>
            <div class="header">
                <h2>iPhone</h2>
                <p>1 encontrado(s)</p>
            </div>

            <nav class="categories">
                <h4>Categorias</h4>
                <ul>
                    <li><a href="#">Eletrônicos</a></li>
                    <li><a href="#">Smartphones</a></li>
                </ul>
            </nav>
        </aside>

        {{ section.products("", "searched", products) }}
    </section>
{% endblock %}