{% extends "layout.njk" %}

{% block content %}
    <section class="product-single container">
        <div class="gallery">
            <img src="http://placehold.it/500x500?text=Produto sem foto" alt="foto do produto">
        </div>

        <div class="info">
            <h1>{{product.name}}</h1>
            <div class="published">
                Publicado em {{product.published.day}} às {{product.published.hour}}
            </div>

            <div class="description">
                {{product.description}} 
            </div>

            <div class="price-buy">
                <div class="price">
                    {{product.price}}

                    {% if product.price !== product.old_price %}
                        <span class="old">{{product.old_price}}</span>
                    {% endif %}
                </div>
                <div class="buy">
                    {% if product.status == 0 %}
                        <p class="unavailable">Indisponível</p>
                    {% elseif product.quantity == 0 %}
                        <p class="unavailable">Fora de Estoque</p>
                    {% else %}
                        <button class="btn">Comprar</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}