{% extends "layout.njk" %}

{% block content %}
    <section class="product-single container">
        <div class="gallery">
            <img src="http://placehold.it/500x500?text=Produto sem foto" alt="foto do produto">
        </div>

        <div class="info">
            <h1>Computador</h1>
            <div class="published">
                Publicado em 28/07 às 21h
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>

            <div class="price-buy">
                <div class="price">
                    R$ 99,99
                    <span class="old">109,00</span>
                </div>
                <div class="buy">
                    <button class="btn">Comprar</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}