.dropdown-container {
  position: relative;
  transition: 0.2s;

  &:hover .dropdown {
    top: 32px;
    opacity: 1;
    visibility: initial;
  }

  ul.dropdown {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    padding: 8px 0;
    width: 180px;
    background-color: #202024;
    border-radius: 8px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    li {
      a,
      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        height: 48px;
        font-size: 16px;
        color: #999;
        background-color: #202024;
        border-radius: 8px;
        cursor: pointer;
      }

      &:hover a,
      &:hover button {
        color: #ccd6f6;
        background: rgba(255, 255, 255, 0.02);
      }
    }
  }
}

.actions.dropdown-container {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #202024;
  }
}
