{% extends "layout.njk" %}

{% block content %}
    <section class="user-register container form">
        <form method="POST" action="/users/register">
            <div class="header">
                <h3>Registre-se</h3>
            </div>

            <div class="fields">
                {% include "user/fields.njk" %}
            </div>

            <button class="btn" type="submit">Salvar</button>
        </form>
    </section>
{% endblock %}