{% extends "layout.njk" %}
{% import "parts/card.njk" as card %}

{% block content %}
    {% call card.render("Registre-se", "users-register container") %}
    <form method="POST" action="/users/register">
        <div class="fields">
            {% include "user/fields.njk" %}
        </div>

        <button class="btn" type="submit">Salvar</button>
    </form>
    {% endcall %}
{% endblock %}