.accounts {
    position: relative;
}

.accounts .submenu {
    position: absolute;
    top: 32px;
    left: 0;
    display: block;
    margin-top: 8px;
    width: 150px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .3);
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.accounts .submenu li a,
.accounts .submenu li button {
    display: inline-block;
    padding: 8px 16px;
    width: 100%;
    font-size: 14px;
    color: #777;
    border-top: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
}

.accounts .submenu li:first-child a {
    border: none;
}

.accounts .submenu li button {
    background: #fff;
}

.accounts .submenu li a:hover,
.accounts .submenu li button:hover {
    font-weight: bold;
    color: #111;
}

.accounts:hover .submenu {
    top: 0;
    opacity: 1;
    visibility: initial;
}