section.login.container,
section.password.container {
    max-width: 500px;
}

section.login.container .fields,
section.password.container .fields {
    margin-bottom: 32px;
}

section.login.container .footer ul {
    display: flex;
    justify-content: space-evenly;
}
section.login.container .footer ul li a {
    color: #777;
}

section.login.container .footer ul li a:hover {
    font-weight: bold;
    color: #000;
}