<script>
  const formDelete = document.querySelector('#form-delete');
  formDelete.addEventListener('submit', function (event) {
    const confirmation = confirm('Tem certeza que deseja excluir? Essa operação não poderá ser desfeita!');
    if (!confirmation) {
      event.preventDefault();
    }
  });
</script>
