{% extends "layout.njk" %}
{% import "partials/card.njk" as card %}

{% block content %}
  {% call card.render("", "order-error container") %}
  <div class="error-lottie"></div>
  <h2>Desculpe</h2>
  <p>
    Não podemos processar seu pedido.
  </p>
  <a href="#" onclick="history.back()">Tentar novamente</a>
  {% endcall%}

  <script src="/scripts/lottie.min.js"></script>
  <script>
    const element = document.querySelector('.error-lottie');

    lottie.loadAnimation({
      container: element, // the dom element that will contain the animation
      renderer: 'svg',
      loop: false,
      autoplay: true,
      path: '/scripts/10960-error.json' // the path to the animation json
    });
  </script>
{% endblock %}
