{% extends "layout.njk" %}
{% import "partials/card.njk" as card %}

{% block content %}
  {% if (sales.length < 1) %}
    {% call card.render("", "cart-empty container") %}
    <p>Nenhuma Venda</p>
    <a href="/ads/create" class="btn">Comece a Vender</a>
    {% endcall %}
  {% else%}
    {% call card.render("Minhas vendas", "sales orders container") %}
      <div class="items">
        {% for sale in sales %}
          <div class="item-container">
            <div class="item">
              <img src="{{sale.product.img}}" alt="Imagem do Produto {{sale.product.name}}">
              <div>
                <div class="title">{{sale.product.name}}</div>
                <div class="price">{{sale.formattedPrice}}</div>
                <div class="updated_at">{{sale.formattedUpdatedAt}}</div>
              </div>
            </div>

            <div class="quantity">
              Qtd. {{sale.quantity}}
            </div>

            <div class="total">
              {{sale.formattedTotal}}
            </div>

            <div class="status {{sale.status}}">
              {{sale.formattedStatus}}
            </div>

            <div class="actions dropdown-container">
              Ações <i class="material-icons">arrow_drop_down</i>
              <ul class="dropdown">
                <li><a href="/orders/{{sale.id}}">Ver Pedido</a></li>
                <li><a href="/products/{{sale.product.id}}/edit">Editar Produto</a></li>

                {% if sale.status == "open" %}
                  <li>
                    <form action="/orders/{{sale.id}}/close" method="POST">
                      <button>Marcar Vendido</button>
                    </form>
                  </li>

                  <li>
                    <form action="/orders/{{sale.id}}/cancel" method="POST">
                      <button>Marcar Cancelado</button>
                    </form>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endcall %}
  {% endif %}
{% endblock %}
