{% extends "layout.njk" %}
{% import "partials/section-products.njk" as section %}

{% block content %}
  <section class="search-products container">
    <aside>
      <div class="header">
        <h2>{{search.term}}</h2>
        <p>{{search.total}} encontrado(s)</p>
      </div>

      <nav class="categories">
        <h4>Categorias</h4>
        <ul>
          {% for category in categories %}
            <li>
              <a href="/products/search?filter={{search.term}}&category={{category.id}}">
                {{category.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>

    {{ section.products("", "searched", products) }}
  </section>
{% endblock %}
