<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles.css">

    {% block head %}
        <title>Launchstore</title>
    {% endblock %}
</head>

<body>
    {% include "parts/header.njk" %}

    {% block content %}
    {% endblock %}

    {% include "parts/footer.njk" %}
</body>
</html>