<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "parts/styles.njk" %}
    
    {% block head %}
        <title>Launchstore</title>
    {% endblock %}
</head>

<body>
    {% include "parts/messages.njk" %}
    {% include "parts/header.njk" %}

    {% block content %}
    {% endblock %}

    {% include "parts/footer.njk" %}
</body>
</html>