<script>
    const formDelete = document.querySelector('#form-delete');
    formDelete.addEventListener('submit', function (event) {
        const confirmation = confirm('Deseja excluir?');
        if (!confirmation) {
            event.preventDefault();
        }
    });
</script>