<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/dropdown.css">
<link rel="stylesheet" href="/styles/menu-accounts.css">
<link rel="stylesheet" href="/styles/session.css">
<link rel="stylesheet" href="/styles/card.css">
<link rel="stylesheet" href="/styles/users.css">
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/orders.css">
<link rel="stylesheet" href="/styles/cart.css">